<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
            id="com.wildermods.mixinmash.sourceLocator"
            name="MixinMash Source Locator"
            class="com.wildermods.mixinmash.TestSourceLookupDirector">
        </sourceLocator>
    </extension>
</plugin>
